<%- include("partials/top"); -%>


<div class="title-result">
    <h2>Patch-Panel Record(s) for <%= az %> </h2>
  </div>
  <div class="download-csv-button">
    <!-- <form action="/downloadSearch" method="get"> -->
    <a href="/download-report"><button type="button" class="btn btn-outline-primary">Download CSV</button></a>
    <!-- </form> -->
  </div>
  <div class="container">
  
    <div class="row">
    <% patchpanel.forEach(function(panel){ %>
  
  
        <div class="col-lg-4 col-md-6">
          <div class="card-deck">
  
            <div class="card text-center mb-3">
              <!-- <div class="card-header">PatchPanel name</div> -->
              <div class="card-body">
                <h5 class="card-title">Patch-Panel ID: <%= panel._patchpanel %></h5>
                <p class="text-secondary card-text">Rack: <%= panel.rack %></p>
                <p class="text-secondary card-text">Connection type: <%= panel.type %></p>
                <p class="bar card-text rackCapacity" name="capacity">Current capacity: <%= panel.capacity %> of <%= panel.fullcapacity %></p>
  
              </div>
            </div>
          </div>
        </div>
  
  
    <% }); %>
    </div>
  
    <div class="return-button">
      <a href="/search" class="btn btn-outline-secondary">Return</a>
    </div>
  
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="script.js" charset="utf-8"></script>
  




<%- include("partials/bottom"); -%>