<%- include("partials/top"); -%>

<div class="container-fluid">
    <div class="title-result">
      <h2>Cross-Connect Records for <%= valueOfData %> </h2>
    </div>
    <div class="download-csv-button">
      <!-- <form action="/downloadSearch" method="get"> -->
      <a href="/download-report"><button type="button" class="btn btn-outline-primary">Download CSV</button></a>
      <!-- </form> -->
    </div>
  
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Xconn ID</th>
          <th scope="col">Carrier</th>
          <th scope="col">Bandwidth (Gbps)</th>
          <th scope="col">Rack</th>
          <th scope="col">Patch-Panel</th>
          <th scope="col">Port</th>
          <th scope="col">Device</th>
          <th scope="col">Interface</th>
          <th scope="col">AZ</th>
          <th scope="col">Cluster</th>
          <th scope="col">Ticket</th>
        </tr>
      </thead>
      <tbody>
  
  
  
        <% circuit.forEach(function(ckt){ %>
  
  
        <tr class="hoverTable">
          <th><%= ckt._circuit %> </th>
          <td><%= ckt.serviceprovider %></td>
          <td><%= ckt.bandwidth %></td>
          <td><%= ckt.rack %></td>
          <td><%= ckt.patchpanel %></td>
          <td><%= ckt.patchpanelport %></td>
          <td><%= ckt.device %></td>
          <td><%= ckt.interface %></td>
          <td><%= ckt.az %></td>
          <td><%= ckt.cluster %></td>
          <td><%= ckt.ticket %></td>
        </tr>
  
        <% }); %>
  
  
      </tbody>
    </table>
    <div class="return-button">
      <a href="/search-circuit" class="btn btn-outline-secondary">Return</a>
    </div>
  
  
  </div>